@import url(main.css);

form{
    padding: 1rem;
    background-color: #fff;
    color: black;
    border-bottom: .1rem solid;
    div{
        padding: .1rem 0;
        label{
            font-size: 1rem;
        }
        &.Object{
            
            input{
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
        input{
            border: none;
            outline: none;
        }
    }
}
.editor{

    min-height: 40vh;
    max-width: 30rem;
    padding: 1rem;
    outline: none;
    background-color: #fff;
    color: black;
}
.toolbar{
    width: 100%;
    background-color: #fff;
    color: black;
    span{
        cursor: pointer;
    }
}